name: Docker Image CI

on:
  push:
    tags:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set image tag
        id: vars
        run: echo "TAG=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

      - name: Build Docker image
        run: |
          docker build \
            -t rstek/dashly:${{ steps.vars.outputs.TAG }} \
            -t rstek/dashly:latest \
            .

      - name: Push Docker image
        run: |
          docker push rstek/dashly:${{ steps.vars.outputs.TAG }}
          docker push rstek/dashly:latest
